<div class="row">
    <div class="col-12  pt-3">
        <h1>Topics</h1>
    </div>
</div>
<div class="row">
    <div class="col-9">
        <div class="row">
            <div *ngFor="let topic of topics$ | async" class="col-auto pt-3">
                <div class="card" style="width: 18rem;">
                    <img class="card-img-top" src="{{topic.image}}" alt="Topic image cap">
                    <div class="card-body">
                        <h5 class="card-title">{{topic.title}}</h5>
                        <p class="card-text">{{topic.description}}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-3">
        <ngdi-editpanel></ngdi-editpanel>
    </div>
</div>