<form (ngSubmit)="onSubmit()" #heroForm="ngForm">
    <div class="form-group">
        <label for="titleInput">Title</label>
        <input [(ngModel)]="editValue.title" name="title" type="email" class="form-control" id="titleInput" aria-describedby="title" placeholder="Enter title">
    </div>
    <div class="form-group">
        <label for="descriptionInput">Description</label>
        <input [(ngModel)]="editValue.description" name="description" type="text" class="form-control" id="descriptionInput" placeholder="description">
    </div>
    <button class="btn btn-primary">Submit</button>
</form>