<div class="row">
  <div class="col-12  pt-3">
    <h1>Cards</h1>
  </div>
</div>
<div class="row">
  <div class="col-9">
    <div class="row">
      <div *ngFor="let card of cards" class="col-auto pt-3">
        <div class="card" style="width: 18rem;">
          <img class="card-img-top" src="https://picsum.photos/200/200" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">{{card.title}}</h5>
            <p class="card-text">{{card.description}}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-3">
    <ngdi-editpanel></ngdi-editpanel>
  </div>
</div>